<%= form_for @submission do |f| %>
  <h1>Submit a new Haiku</h1>

  <%= f.text_area :body, rows: 3, placeholder: 'Your haiku' %>
  <span class="note">Shared publicly.</span>

  <%= f.text_field :submitted_by, placeholder: 'Name or handle (optional)' %>

  <span class="note">Shared publicly. Used for prize giving.</span>

  <%= f.submit 'Send' %>
<% end %>
