<%= form_for @submission do |f| %>
  <h1>Submit a new Haiku</h1>

  <%= f.text_area :body, rows: 3, placeholder: 'Your haiku' %>
  <span class="note">Shared publicly.</span>

  <%= f.text_field :submitted_by, placeholder: 'Name or handle (optional)' %>

  <span class="note">Shared publicly. Used for prize giving.</span>

  <%= f.submit 'Send' %>
<% end %>

<script>
  // Locally remember the last submitted by value for the session
  const storage = window.sessionStorage

  if (storage) {
    const submissionForm = document.querySelector('#new_submission')
    const submittedByInput = document.querySelector('#submission_submitted_by')
    const key = 'lastSubmittedBy'

    // Populate submitted by
    submittedByInput.value = submittedByInput.value || storage.getItem(key)

    // Record submitted by
    submissionForm.onsubmit = () => storage.setItem(key, submittedByInput.value)
  }
</script>
